.container-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 10px;
    font-size: 25px;
    img{
        width: 450px;
    }
}

.write-up{
    font-size: 25px;
    Button{
        background-color: black;
        color: white;
        width: 60px;
        height: 60px;
        font-size: 30px;
        border-radius: 50%;
    }
}

.hero_image_display2{
    img{
        width: 100%;
        height: 80vh;
    }
}



.image-text2{
    position: absolute;
    width: 60%;
    top: 210%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 10;
    color: white;
    font-size: 40px;
    color: blue;

   

}
@media (max-width:900px){
    .container-1{
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 0px;
        font-size: 20px;
        width: 100%;
        img{
            width: 300px;
        }
    }

     .write-up{
        font-size: 20px;
     }

}

@media (max-width:900px){
    .image-text2{
        width: 100%;
         top: 175%;
    }
}

@media (max-width:600px){

    
.hero_image_display2{
    img{
        width: 100%;
        height: 50vh;
    }
}



.image-text2{
    width: 100%;
    top: 160%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 10;
    color: white;
    font-size: 23px;
    
    color: blue;

   

}
     .container-1{
        flex-wrap: wrap;
        align-items: center;
        font-size: 17px;
        width: 100%;
        img{
            width: 300px;

        }
    }

     .write-up{
        font-size: 17px;
        Button{
            font-size: 17px;
          width: 10px;
          height: 30px;
        }
    }
}
