.hero{
    width: 100%;
}

.video-container{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.h-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text{
    position: absolute;
    width: 60%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 10;
    color: white;
    font-size: 30px;

   

    p{
        font-size: 25px;
    }
}

.image-text Button{
    background-color: black;
    color: white;
    padding: 7px 60px;
    border-radius: 14px;margin-top: 20px;
    box-shadow: 4px 4px 4px black;
}

.image-text Button:hover{
    background-color: gray;
    color: black;
}

@media (max-width:900px) {
    .image-text{
        font-size: 25px;
        width: 90%;
    }
}

@media (max-width:600px){
    .hero{
         height: auto;
        }

        .h-video{
           height: 70vh;
        }

    .image-text{
        font-size: 17px;
        width: 90%;

        p{
            font-size: 17px;
        }
        Button{
            font-size: 12px;
            padding: 5px 30px;
        }
    }
}