.menshop{

}

.menshop-container{
    width: 300px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}

.shop-box{
    border-radius: 10px;
    padding: 20px;
     background-color: aliceblue;
    margin: 20px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.126);

    h2{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        color: rgba(56, 108, 3, 0.952);
    }

    p{
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
    }

    Button{
        background-color: blue;
        color: white;
        width: 100%;
    }
}

.shop-img{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.022);
}

.shop-img:hover{
     width: 102%;
}