.menshop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.shop-box {
  border-radius: 10px;
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.126);
  text-align: center;
}

.shop-box button{
    background: blue;
    color: white;
    width: 90%;
}

.shop-img {
   width: 100%;
  height: 250px;      
  object-fit: cover;   
  border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.052);

}

@media (max-width: 600px) {
  .menshop {
    grid-template-columns: 1fr 1fr;
  }

  .shop-box button{
    font-size: 12px;
  }

  
.shop-img {
   width: 100%;
  height: 150px;      
}
}